<div class="text-center bg-gray-50 text-gray-800 py-24 px-6">
      <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">The best place to keep <br /><span class="text-blue-600">your contacts</span></h1>
      <%= link_to "Get Started", sign_up_path, class: "ml-2 rounded-lg py-3 px-7 bg-gray-100 shadow inline-block font-medium" %>
      <%= link_to "Log In", sign_in_path, class: "ml-2 rounded-lg py-3 px-7 shadow text-white bg-green-500 transition colors hover:bg-green-700 inline-block font-medium" %>
      
</div>
