<div class="text-center">
    <h1 class="text-4xl">Welcome to Address Book</h1>

    <%= button_to "Logout", logout_path, method: :delete, class: "rounded-lg py-3 ml-2 px-5 bg-blue-500 text-white inline-block font-medium"%>
</div>